header {
    padding-inline: 30px;
    height: 80px;
    background: var(--bg-color);
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

header img {
    width: 150px;
}

header nav ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    gap: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: var(--big-size);
    padding: 3px 10px;
    border-radius: 50px;
    transition: background 0.2s ease;
}

header nav ul li a:hover {
    background: var(--secondary-color);
}

#hamburguer {
    display: none;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    color: var(--primary-color);
    font-size: var(--biggest-size);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

#hamburguer:hover {
    background: var(--secondary-color);
}

#menu {
    position: fixed;
    display: none;
    flex-direction: column;
    gap: 20px;
    top: 0;
    right: 0;
    background: var(--bg-color);
    border-left: 1px solid var(--border-color);
    z-index: 1000;
    height: 100%;
    width: 70%;
    overflow-y: auto;
}

#menu div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
    gap: 10px;
    width: 100%;
}

#menu div img {
    width: 120px;
}

#menu div button {
    background: none;
    border: none;
    color: var(--primary-color);
    font-size: var(--biggest-size);
    padding: 5px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

#menu div button:hover {
    background: var(--secondary-color);
}

#menu nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 20px;
    gap: 20px;
}

#menu nav ul li a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: var(--bigger-size);
    padding: 3px 10px;
    border-radius: 50px;
    transition: background 0.2s ease;
}

#menu nav ul li a:hover {
    background: var(--secondary-color);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1;
    margin-top: 80px;
}

main section:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: calc(100dvh - 80px);
    background: var(--secondary-color);
    background-image: url('../../../assets/icons/icon.ico');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 400px;
    gap: 10px;
    border-bottom: 1px solid var(--primary-color);
}

main section:first-child h1 {
    font-size: var(--mega-size);
    color: var(--bg-color);
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

main section:first-child img {
    width: 150px;
}

main section:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: var(--bg-color);
    gap: 20px;
    padding: 20px;
}

article:hover {
    transform: translateY(-5px);
}

.logoMain {
    width: 300px;
    margin-top: 20px;
}

.mvvContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50dvw;
    gap: 20px;
}

.mvvContainer article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    gap: 10px;
    border: 1px solid var(--border-color);
    border-radius: 12px;
    padding: 20px;
    transition: 0.2s ease;
}

.liderancaContainer article:hover,
.mvvContainer article:hover {
    border: 1px solid var(--primary-color);
}

.mvvContainer h3 {
    font-size: var(--titanic-size);
    color: var(--primary-color);
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
}

.mvvContainer p {
    font-size: var(--big-size);
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
}

.mvvContainer article ol {
    margin-left: 20px;

}

.mvvContainer div {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.subtitulo {
    font-size: var(--biggest-size);
    color: var(--primary-color);
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
}

.liderancaContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 50dvw;
    gap: 20px;
}

.liderancaContainer article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    border: 1px solid var(--border-color);
    border-radius: 12px;
    padding: 20px;
    transition: 0.2s ease;
}

.liderancaContainer article div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.liderancaContainer article div img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    object-fit: cover;
}

.liderancaContainer article div h3 {
    font-size: var(--titanic-size);
    color: var(--primary-color);
    font-weight: 600;
    font-size: var(--big-size);
}

.liderancaContainer article p {
    font-size: var(--big-size);
    color: var(--text-color);
}

.appContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50dvw;
    gap: 20px;
}

.appContainer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.forumContainer p,
.appContainer div p {
    font-size: var(--big-size);
    color: var(--text-color);
}

.appContainer div div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.appContainer div div a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.appContainer div div a img {
    width: 180px;
}

.appContainer div div a:hover {
    filter: brightness(80%);
}

.appImage {
    width: 500px;
}

.cadastroContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50dvw;
    gap: 10px;
}

.cadastroContainer p {
    font-size: var(--big-size);
    color: var(--text-color);
    width: 50%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    min-width: 400px;
    gap: 10px;
}

input {
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    color: var(--title-color);
    font-size: var(--regular-size);
}

.inputContainer {
    display: flex;
    flex-direction: column;
}

label {
    color: var(--primary-color);
    font-size: var(--regular-size);
}

.termoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.termoContainer a {
    text-decoration: none;
    font-size: var(--regular-size);
}

.termoContainer a:hover {
    text-decoration: underline;
}

.senhaContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.senhaContainer input {
    width: 100%;
    flex: 1;
}

.senhaContainer input {
    padding-right: 40px;
}

.senhaContainer span {
    position: absolute;
    right: 10px;
    font-size: var(--biggest-size);
    color: var(--primary-color);
    cursor: pointer;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.submit {
    border: 1px solid var(--primary-color);
    background: var(--secondary-color);
    color: var(--primary-color);
    padding: 10px;
    border-radius: 50px;
    font-size: var(--regular-size);
    cursor: pointer;
    font-weight: 600;
}

.forumContainer a:hover,
.submit:hover {
    filter: brightness(80%);
}

.linha {
    width: 50dvw;
}

.forumContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 50dvw;
    margin-bottom: 20px;
}

.forumContainer a {
    border: 1px solid var(--primary-color);
    background: var(--secondary-color);
    color: var(--primary-color);
    padding: 10px;
    border-radius: 50px;
    font-size: var(--regular-size);
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-weight: 600;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    background: var(--secondary-color);
    border-top: 1px solid var(--primary-color);
    padding: 20px 30px;
    gap: 10px;
}

footer div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

footer div img {
    width: 150px;
}

footer div p {
    font-size: var(--big-size);
    color: var(--primary-color);
}

footer div ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

footer div ul li a {
    font-size: var(--biggest-size);
    color: var(--primary-color);
}

footer div ul li a:hover {
    filter: brightness(80%);
}

#footerHr {
    background: var(--primary-color);
}

footer nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

footer nav ul li a {
    text-decoration: none;
    font-size: var(--regular-size);
}

footer nav ul li a:hover {
    text-decoration: underline;
}

@media (max-width: 1680px) {

    .forumContainer,
    .linha,
    .cadastroContainer,
    .mvvContainer,
    .liderancaContainer,
    .appContainer {
        width: 70dvw;
    }

    .logoMain {
        width: 250px;
    }

    .appImage {
        width: 350px;
    }

    .appContainer div div a img {
        width: 150px;
    }
}

@media (max-width: 1280px) {
    .logoMain {
        width: 200px;
    }

    .liderancaContainer article img {
        width: 120px;
        height: 120px;
    }

    .appImage {
        width: 300px;
    }

    .appContainer div div a img {
        width: 130px;
    }

    form {
        min-width: 350px;
    }
}

@media (max-width: 900px) {
    header {
        height: 60px;
    }

    header img {
        width: 100px;
    }

    header nav {
        display: none;
    }

    main {
        margin-top: 60px;
        height: calc(100dvh - 60px);
    }

    #hamburguer {
        display: flex;
    }

    main section:first-child {
        background-size: 300px;
        min-height: calc(100dvh - 60px);
    }

    main section:first-child img {
        width: 120px;
    }

    .logoMain {
        width: 200px;
    }

    .forumContainer,
    .linha,
    .cadastroContainer,
    .mvvContainer,
    .liderancaContainer,
    .appContainer {
        width: 100%;
    }

    footer div,
    .cadastroContainer,
    .appContainer,
    .mvvContainer div {
        flex-direction: column;
    }

    .liderancaContainer article {
        flex-direction: column;
        gap: 10px;
    }

    .appImage {
        width: 250px;
    }

    .appContainer div div a img {
        width: 120px;
    }

    footer nav ul,
    .appContainer {
        gap: 10px;
    }

    form {
        min-width: 100%;
    }

    .cadastroContainer p {
        width: 100%;
    }

    .appContainer div {
        gap: 20px;
    }
}